*{
font-family:helvetica;
}

input#boton{
padding:5px 50px;
color:white;
font-size: 1em ;
background-color:#5dade5;
-webkit-transition: background-color .25s;
border:0px;
-webkit-border-radius:5px;
-webkit-box-shadow: 0px 4px 0px  #33ff66;
}
input#boton :hover {
background-color: #3399ff;
}